.card-mmt {
  border: 1px solid #e9ecef;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.04);
}

.btn-primary {
  background: #0a6cff;
  color: white;
}

.form-range {
  width: 100%;
}   

/* .i{
  background-image: url("https://thumbs.dreamstime.com/b/aircraft-airplane-airline-logo-label-journey-air-travel-airliner-symbol-vector-illustration-aircraft-airline-logo-label-122428148.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
} */